<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller sign-up</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter Name">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter password">
            <input class="form-input" type="text" ngModel name="Email" placeholder="Enter Email">
            <button class="form-button">sign-up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click To Login</a>
        </form>
    </div>

    <!-- Login Area -->
    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <small style="color: red;">{{authErro}}</small>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="Email" placeholder="Enter Email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter password">
            <button class="form-button">sign-in</button>
            <a class="auth-toggle-link" (click)="openSingup()">Don't Have Account? Click To sign-up</a>
        </form>
    </div>
</div>